<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582122810857-ahb4987qdtcj2gu7pdrc5ab1juj5nq19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582122810857-ahb4987qdtcj2gu7pdrc5ab1juj5nq19</string>
	<key>API_KEY</key>
	<string>AIzaSyCvBlN3ylWOY0u7jUCwdgMf2jtfF0DrTPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>582122810857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chamuditha.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-prod-bfb8b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-prod-bfb8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582122810857:ios:2b5c9016df2ac2845a2f78</string>
</dict>
</plist>